<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
</head>

<body>
    <main class="container">
        <h1>{{ title }}</h1>
        <table>
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
                {% for row in result %}
                <tr>
                    {% for cell in row %}
                     <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <footer>
        </footer>
    </main>
</body>

</html>
